[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp1x.git
[submodule "zf"]
	path = zf
	url = git://github.com/tjohns/zf.git
[submodule "facebook"]
	path = facebook
	url = http://github.com/facebook/php-sdk.git
[submodule "doctrine"]
	path = doctrine
	url = git://github.com/ascorbic/doctrine-tracker.git
